/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-title {
  text-align: center;
}

.main-title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;

  --angle: 0deg;

  /* Create a dotted border */

  /* Create two background layers:
     1. A white semi-transparent
     2. A layer with the colored boxes
   */
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 1),
      rgb(255 255 255 / 1)
    ),
    conic-gradient(
      from var(--angle),
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #377af5 180deg 270deg,
      #399953 270deg 360deg
    );

  background-origin: border-box;
  background-clip: padding-box,
    /* Clip white semi-transparent to the padding-box */ border-box
      /* Clip colored boxes to the border-box (default) */;

  border: 0.3rem dotted transparent;
  animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.sub-title {
  background-color: #282c34;
  color: white;
  width: 450px;
}

.leftSide {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 30%;
  padding: 5%;
  border-radius: 20px;
  position: fixed;
  left: 30%;
  transform: translate(-50%);
}

.rightSide {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 30%;
  padding: 5%;
  border-radius: 20px;
  position: fixed;
  left: 70%;
  transform: translate(-50%, -20%);
}

.card {
  width: 30rem;
}

.animation {
  white-space: nowrap;
  padding-bottom: 13px;

  --angle: 0deg;

  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 1),
      rgb(255 255 255 / 1)
    ),
    conic-gradient(
      from var(--angle),
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #377af5 180deg 270deg,
      #399953 270deg 360deg
    );

  background-origin: border-box;
  background-clip: padding-box,
    /* Clip white semi-transparent to the padding-box */ border-box
      /* Clip colored boxes to the border-box (default) */;

  border: 0.3rem dotted transparent;
  animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
}

@keyframes footer-border {
  0% {
    outline-width: 20px;
  }
  10% {
    outline-width: 5%;
  }
  25% {
    outline-width: 13px;
  }
  30% {
    outline-width: 25px;
  }
  50% {
    outline-width: 17px;
  }
  57% {
    outline-width: 3%;
  }
  70% {
    outline-width: 19px;
  }
  80% {
    outline-width: 10px;
  }
  100% {
    outline-width: 20px;
  }
}

.footer {
  position: fixed;
  top: 40%;
  width: 100%;
  background-color: #fbb300;
  padding-bottom: 10%;
  transform: translate(-0%, -50%);
  outline-style: solid;
  outline-color: #282c34;
  outline-width: 20px;
  animation-name: footer-border;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
